body {
    background: radial-gradient(63.04% 63.04% at 50% 50%, #D70000 60.46%, #AC0000 100%);
    color: white;
    font-family: neuton, inter, sans-serif;
    margin: 0;
}

header {
    background-color: yellow;
    color: white;
    margin: 0;
    height: 100px;
    border-radius: 0px 0px 15px 0px;
    overflow: visible;
     }

a:link, a:visited {
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: maroon;
    box-sizing: border-box;

}
 a:hover {
color: blueviolet;
text-align: center;
margin: 5px;
font-size: 1.5em;
padding: 5px;
width: 250px;
box-sizing: border-box;
text-decoration: none;
 }
